{% extends 'base.html' %}
{% load staticfiles i18n wagtailimages_tags wagtailcore_tags markdown %}
{% block content %}
<div class="new technologies-we-use-heading">
  {% image page.cover_image max-1366x1366 as header_image %}
  <div class="new static-header dimmed-image slightly-down" style="background-image: url({{header_image.url}})">
    <div class="new heading">
      <p>{{page.title|richtext}}</p>
    </div>
    <div class="new scroll-down-arrow">
      <img class="filer_image " alt="scroll_down_arrow.png" src="{% static  'images/header/scroll_down_arrow.png'%}" />
    </div>
    <div class="dim"></div>
  </div>
</div>

<div class="content-wrapper blog-post-page">
  <div class="back-to-blog">
    < <a href="/blog">Back to Blog</a>
  </div>
  <div class="authors float-container">
    {% for author in page.authors.all %}
      <div class="author">
        {% image author.initial_photo max-200x200 as author_image %}
        <div class="author_image" style="background-image:url({{author_image.url}})"></div>
        <div class="author_name">{{ author.name }}</div>
      </div>
    {% endfor %}
  </div>
  <div class="article-main-image">
    {% image page.cover_image max-900x900 %}
  </div>
  <div class="section-content">
    {% autoescape off %}
      {{ page.text|markdown }}
    {% endautoescape %}
  </div>

</div>
{% endblock content %}
