{% extends 'base.html' %}
{% load staticfiles i18n wagtailimages_tags wagtailcore_tags %}

{% block content %}
<div class="new homepage-header dimmed-image">
  <div class="new header-image-background dimmed-image-background">
    <div class="new overlay"></div>
    <iframe id="ytplayer" type="text/html" width="640" height="390"
    src="https://www.youtube.com/embed/zxMt_5l9Nkc?autoplay=1&loop=1&controls=0&playlist=zxMt_5l9Nkc&fs=0&modestbranding=0&rel=0&showinfo=0"
    frameborder="0"></iframe>
  </div>
  <div class="new header-image-frame">
    <div class="new header-main-text">
      <h1>HackSoft is your trusted provider of high quality software</h1>
    </div>
    <div class="new header-info-text">
      <div class="new info-text">
        <p>We are not just outsourcers, but partners with our clients</p>
      </div>
    </div>
  </div>
  <div class="new scroll-down-arrow scroll-down-landpage">
    <img class="filer_image " alt="scroll_down_arrow.png" src="{% static  'images/header/scroll_down_arrow.png'%}" />
  </div>
</div>

<div class="page-content">
  <div class="content-wrapper" >

    <div class="section home-page-lead">
      <h1 class="lead-text">{{ page.intro_h1 }}</h1>
      <h2 class="lead-subtext">{{ page.intro_h2 }}</h2>

      <div class="doodle align-center">
        {% image page.intro_image original  %}
      </div>
    </div>

    <div class="section how-we-work">

      <div class="section-heading">
        <div>
          <p>{{ page.how_we_work_title }}</p>
        </div>
      </div>

      <div class="section-content-row align-center our-team-text">
        {{ page.how_we_work_center|richtext }}
      </div>

      {% image page.how_we_work_image max-1280x450 class="how-we-work-image" %}

    </div>

    <div class="section technologies-we-use">
      <div class="section-heading">
        <div>
         <p>{{ page.technologies_we_use_title }}</p>
       </div>
     </div>
     <div class="section-content-row">
      <div class="section-content-row align-center panda-pic">
        {% image page.technologies_we_use_image original %}
      </div>
      <div class="section-content-row align-center primary-focus-text technologies-text">
        {{ page.technologies_we_use_center|richtext }}
      </div>
      <div class="section-content-row align-center technologies-logos">
        {% for relation in page.technologies_placement.all %}
          {% image relation.technology.logo fill-100x100 as tech_logo %}
          <img src="{{tech_logo.url}}" class="filter_image wow flipInX" />
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="section our-team">
    <div class="section-heading">
      <div>
        <p>{{ page.our_team_title }}</p>
      </div>
    </div>
    <div class="section-content">
      <div class="section-content-row align-center our-team-text">
        {{ page.our_team_center|richtext }}
      </div>
      {% image page.team_image_main fill-1920x1200 as team_photo %}
      <div class="section-content-row align-center our-team-images" style="background-image:url({{team_photo.url}})"></div>
    </div>
  </div>

  <div class="section">
    <div class="section-heading">
      <div>
        <p>{{ page.portfolio_title }}</p>
      </div>
    </div>
    <div class="section-content">
      <div class="section-content-row align-center">
        {% image page.portfolio_image max-200x200 class="filter_image" %}
      </div>
      <div class="section-content-row align-center our-team-text">
        <div>
          {{ page.portfolio_center|richtext }}
        </div>
      </div>

      {% for relation in page.projects_placement.all %}
      <div class="section-content-row  float-container  portfolio-landing wow {% cycle 'fadeInLeftBig' 'fadeInRightBig' %}">
        <div class="smaller-part {% cycle 'odd' 'even' %}">
          {% image relation.project.demo_image height-300 as demo_image %}
          <img src="{{ demo_image.url }}" class="filter_image" />
        </div>
        <div class="larger-part">
          <h3>{{ relation.project }}</h3>
          {{ relation.project.short_index_description|richtext }}
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
</div>
{% endblock content %}
